body {
  background: #272727;
  color: #fff;
  font-weight: 200;
  font-size: 14px;
}

.showcase {
  background: lightblue;
}

.showcase > .container, .showcase > .showcase-content {
  background: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase .showcase-content {
  background: lightgreen;
}
