@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $light-color;
  font: $my-font;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  @include set-background($primary-color);
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a:hover {
      color: orange;
    }
  }

  &-content {
    height: 100%;
    display: center;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  a {
    color: #fff;
  }
}

@import "utilities";
@import "buttons";
@import "mobile";
